.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text-low-stock {
    color: #dc3545;
    font-weight: bold;
}